{% extends 'base.html.twig' %}

{% block body %}
<h2 align="center" >Qui sommes-nous ? </h2><br/><br>


<p style="margin-left: 10%;">Kaligana est une entreprise française spécialisée dans le e-tourisme caribéen lancée en 2017. 

Grâce au site e-commerce de l’entreprise, Kaligana.com, les touristes internationaux peuvent consulter, réserver, acheter en ligne et en toute flexibilité des prestations touristiques telles que : <br/>
- la location de logements saisonniers <br/>
- la location de voitures <br/>
- des services d’activités sportives et culturelles <br/>
- un accès à des restaurants locaux  <br/><br/>

Kaligana fait le lien entre les touristes et ses partenaires touristiques locaux via notre plateforme e-commerce. <br/>

Depuis l’origine de l’entreprise Kaligana, nous voulons accorder une grande place à l’éthique dans notre activité touristique. Par conséquent, nous sommes solidaires et nous soutenons des partenaires touristiques locaux en collaborant directement avec eux. Nous privilégions donc “les petits acteurs” du tourisme local pour pouvoir transmettre plus d’authenticité et de valeur ajoutée à nos clients.<br/>

Nous veillons également à être responsables et réduire au maximum notre empreinte écologique à travers notre activité et celle de nos partenaires.</p><br/><br/><br/><br/>


{% endblock %}